
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'ecomsite/style.css' %}">
    <title>Title</title>
</head>
<body>
    <div class="container">

    <div class="row">
        <div class="col-md-12">
            <form class="card card-sm">
                <div class="card-body row-no-gutters align-items-center">
                    <div class="col">
                        <input type="search" name="item_name" placeholder="Search for Products" class="form-control form-control-borderless">

                    </div>
                    <div class="col-auto">
                        <button class="btn btn-success" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


        <div class="row">
            {% for product in product_objects %}
            <div class="col-md-3">
                <div class="card">
                    <img height="300px" width="200px" src="{{ product.image }}" class="card-img-top">
                    <div class="card-body">
                        <div class="card-title">
                            {{ product.title}}
                        </div>
                        <div class="card-text">
                            {{ product.price}}
                        </div>
                        <a href="/{{ product.id }}" class="btn btn-warning">View</a>
                        <button class="btn btn-warning">Add to cart</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    <div class="row">
        <div class="col-md-3 offset-md-4">
            <ul class="pagination">
                {% if product_objects.has_previous %}
                    <li class="page-item">
                    <a class="page-link" href="?page={{ product_objects.previous_page_number }}">Previous</a>
                    </li>

                {% endif %}

                    <li class="page-item active">
                        <a class="page-link" href="?page={{ product_objects.number }}">Current</a>
                    </li>


                {% if product_objects.has_next %}
                    <li class="page-item">
                    <a class="page-link" href="?page={{ product_objects.next_page_number }}">Next</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
    </div>
</body>
</html>