
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script
            src="https://code.jquery.com/jquery-3.7.0.js"
            integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'ecomsite/style.css' %}">
    <title>Title</title>
</head>
<body>
    <div class="container">

    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <button id="cart" type="button" class="btn btn-secondary" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="DisplayCart">
            Cart(0)
        </button>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
</nav>
        </div>
    </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <form class="card card-sm">
                <div class="card-body row-no-gutters align-items-center">
                    <div class="col">
                        <input type="search" name="item_name" placeholder="Search for Products" class="form-control form-control-borderless">

                    </div>
                    <div class="col-auto">
                        <button class="btn btn-success" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


        <div class="row">
            {% for product in product_objects %}
            <div class="col-md-3">
                <div class="card">
                    <img height="300px" width="200px" src="{{ product.image }}" class="card-img-top">
                    <div class="card-body">
                        <div id="nm{{ product.id }}" class="card-title">
                            {{ product.title}}
                        </div>
                        <div class="card-text">
                            {{ product.price}}
                        </div>
                        <a href="/{{ product.id }}" class="btn btn-warning">View</a>
                        <button id="{{ product.id }}" class="btn atc btn-warning">Add to cart</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    <div class="row">
        <div class="col-md-3 offset-md-4">
            <ul class="pagination">
                {% if product_objects.has_previous %}
                    <li class="page-item">
                    <a class="page-link" href="?page={{ product_objects.previous_page_number }}">Previous</a>
                    </li>

                {% endif %}

                    <li class="page-item active">
                        <a class="page-link" href="?page={{ product_objects.number }}">Current</a>
                    </li>


                {% if product_objects.has_next %}
                    <li class="page-item">
                    <a class="page-link" href="?page={{ product_objects.next_page_number }}">Next</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</body>

<script type="text/javascript">
    console.log('This is working');

    if(localStorage.getItem('cart')==null){
        let cart = {};
    }
    else{
        cart = JSON.parse(localStorage.getItem('cart'));
    }
    $(document).on('click','.atc', function() {
        console.log("The add to cart button is clicked")
        var item_id = this.id.toString();
        console.log(item_id);

        if(cart[item_id]!==undefined){
            cart[item_id] = cart[item_id] + 1;
        }
        else{
            cart[item_id] = 1;
        }
        console.log(cart);
        localStorage.setItem('cart', JSON.stringify(cart));
        document.getElementById("cart").innerHTML = "Cart("+ Object.keys(cart).length +")";
    });
    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
    const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))

    DisplayCart(cart)
    function DisplayCart(){
        var cartString = "";
        cartString += "<h5>This is your cart</h5>";
        var cartIndex = 1;
        let cartObject = JSON.parse(localStorage.getItem('cart'));

        for(item in cartObject){
            console.log(cartObject[item][0]);
            console.log(cartObject[item][1]);
            cartString += cartObject[item][1] + "Quantity:" + cartObject[item][0] + "</br>";
            cartIndex+=1;


        }
                document.getElementById("cart").setAttribute("cart", cartString);
                $('[data-toggle="popover"]').popover();
    }

</script>
</html>